<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Pluto</string>
	<string>Eres</string>
	<string>Triton</string>
	<string>Mars</string>
	<string>Jupiter</string>
	<string>Neptune</string>
	<string>Triton</string>
	<string>Titan</string>
	<string>Tyrant</string>
	<string>Ganymede</string>
	<string>Venus</string>
	<string>Mercury</string>
	<string>Count</string>
	<string>Apollo</string>
</array>
</plist>
