<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Fortress</string>
	<string>Stronghold</string>
	<string>Hub</string>
	<string>Village</string>
	<string>Town</string>
	<string>City</string>
	<string>Straglers</string>
	<string>Camp</string>
	<string>Encampment</string>
	<string>Shelter</string>
	<string>Sanctuary</string>
	<string>Refuge</string>
	<string>Hideout</string>
	<string>Citadel</string>
</array>
</plist>
