<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Fredrick</string>
	<string>Fred</string>
	<string>Francis</string>
	<string>Dominique</string>
	<string>Drake</string>
	<string>Catherine</string>
	<string>Barbara</string>
	<string>Bill</string>
	<string>Billy</string>
	<string>Anthony</string>
	<string>Anne</string>
	<string>Amy</string>
	<string>Albert</string>
	<string>Allison</string>
	<string>Anthony</string>
	<string>Alec</string>
	<string>Alan</string>
	<string>Andrew</string>
	<string>Bob</string>
	<string>Ryan</string>
	<string>Alex</string>
</array>
</plist>
