<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Amy</string>
	<string>Amelia</string>
	<string>Angelica</string>
	<string>Anne</string>
	<string>Anna</string>
	<string>Alexandra</string>
	<string>Alexa</string>
	<string>Alexis</string>
	<string>Alyssa</string>
	<string>Angel</string>
	<string>Bella</string>
	<string>Catherine</string>
	<string>Crystal</string>
	<string>Caroline</string>
	<string>Cassandra</string>
	<string>Cinthia</string>
	<string>Carey</string>
	<string>Christine</string>
	<string>Dominique</string>
	<string>Danielle</string>
	<string>Elizabeth</string>
	<string>Emma</string>
	<string>Emily</string>
	<string>Flower</string>
	<string>Gertrude</string>
	<string>Gabby</string>
	<string>Grace</string>
	<string>Isabelle</string>
	<string>Jamie</string>
	<string>Jennifer</string>
	<string>Jessica</string>
	<string>Katherine</string>
	<string>Katty</string>
	<string>Lauren</string>
	<string>Laura</string>
	<string>Madison</string>
	<string>Megan</string>
	<string>Marlyn</string>
	<string>Mary</string>
	<string>Nancy</string>
	<string>Nicky</string>
	<string>Olivia</string>
	<string>Opal</string>
	<string>Penelope</string>
	<string>Sandra</string>
	<string>Sandy</string>
	<string>Samantha</string>
	<string>Shelley</string>
	<string>Tammy</string>
	<string>Tabitha</string>
	<string>Victoria</string>
	<string>Veronica</string>
</array>
</plist>
