<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Floor001</string>
	<string>Tile001</string>
	<string>Tile002</string>
	<string>Tile003</string>
	<string>Tile004</string>
</array>
</plist>
